[Unit]
Description=ZSnapper service
After=zfs-mount.service

[Service]
Type=simple
User=root
Group=root
ExecStart=/opt/zsnapper/bin/zsnapper -c /etc/zsnapper.yml

[Install]
WantedBy=multi-user.target
